################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Services/IdentityManagement/bin/Debug/netcoreapp3.1
/src/Services/IdentityManagement/Properties
